<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>travel app</title>
    <meta charset="UTF-8" />
  </head>

  <header></header>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="https://www.flaticon.com/premium-icon/icons/svg/2200/2200326.svg"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-top"
          />
          Travel App
        </a>
      </div>
    </nav>

    <form
      onsubmit="return Client.handleSubmit(event)"
      class="mt-5 container-fluid d-flex justify-content-evenly bg-secondary mt-1 rounded flex-wrap border border-5"
    >
      <div class="input-group m-3">
        <span class="input-group-text">destination</span>
        <input
          id="city"
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>

      <div class="input-group m-3">
        <span class="input-group-text">departue date </span>
        <input
          id="departue"
          type="date"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>

      <div class="input-group m-3">
        <span class="input-group-text">return date</span>
        <input
          id="return"
          type="date"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <input type="submit" class="btn btn-dark m-3" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event) ">
    
    </form>

    <div
      class="container-fluid d-flex justify-content-evenly flex-wrap"
      id="CardList"
    >
      <div id="app"></div>

      <!-- <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> -->
    </div>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
